<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h3>Session Id</h3>
<p><span th:text="${sessionId}"></span></p>
<ul th:each="color : ${favoriteColors}">
    <li th:text="${color}"></li>
</ul>
<form th:action="@{/saveColor}" method="post">
    <p>Color</p>
    <input type="text" name="color"></input>
    <button type="submit">Add</button>
</form>
</body>
</html>